{% extends "base.html" %}
{% block title %}
  Лента записей
{% endblock %}
{% block content %}
  <h1 class="mb-5">Лента записей</h1>
    <hr>
  {% for post in post_list reversed %}
  <article class="mb-5"> 
    {% include "includes/post_face.html" %}
      <p class="card-text"><h5>{{ post.text|truncatewords:10 }}</h5></p>
        <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
          {% if not forloop.last %}
            <hr>
          {% endif %}
  </article>
  {% endfor %}
{% endblock %}
